.title-container {
  display: flex;
  align-items: center; /* This vertically centers the children (icon and text) */
  gap: 10px; /* Optional: for some space between the icon and the text */
}

.title-container h1 {
  margin: 0; /* Reset the margin to remove any browser default */
}

.key-value-list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.key-value-list dt {
  flex-basis: 30%;
  margin-bottom: 16px;
}
.key-value-list dd {
  flex-basis: 60%;
  margin-left: 15px;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0px;
}

.mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-two-lines {
  /* override fixed height */
  height: auto;
}

.mdc-list-item--with-leading-icon.mdc-list-item--with-two-lines .mdc-list-item__primary-text {
  /* less padding between name of player and comments */
  margin-bottom: -28px;
}

.invitations .mat-mdc-list-item {
  margin-top: -15px;
  margin-bottom: 5px;
}

.mdc-list-item__secondary-text::before {
  /* make block above comments thinner */
  height: 0px;
}

.comment {
  /* comments should wrap */
  text-wrap: wrap;
  /* little bit of padding between comments */
  padding-bottom: 4px;
}

.comment .author {
  font-size: x-small;
}

.material-icons {
  font-size: 20px;
}

