/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header {
  padding: 16px;
}

.header h1 {
  /** override the default margin of material h1 */
  margin: 0px;
}

.mat-mdc-list-base {
  --mdc-list-list-item-label-text-size: 14px;
}
